.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323A49;
  width: 300px;
  height: 400px;
}

.AdviceNumber {
  color: #52FFA8;
}

.AdviceText, .Separator {
  color: #CEE3E9;
}

.Separator {
  width: 12rem;
}